<mat-toolbar>
    <mat-toolbar-row>
        <a mat-button disabled> Workforce </a>
        <a mat-button [routerLink]="'employees'" (click)="activateLink(true)" [ngClass]="{'link-active':linkActivate , 'link-default':!linkActivate}"> Employees </a>&nbsp;&nbsp;
        <a mat-button [routerLink]="'addEmployee'" (click)="activateLink(false)" [ngClass]="{'link-active':!linkActivate , 'link-default':linkActivate}"> Add Employee </a>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>